<form id="form">
  <input id="input" placeholder="Search..." on />
</form>
<div id="characters_error" class="infobox error">
  Unexpected characters! At the moment, only the Latin alphabet is supported.
</div>
<div id="suggestions">
  
</div>
<a id="result" class="infobox"></a>
